<div class="login-container">
    <div class="logo-placeholder">CLINACAP</div>
    <div class="subtitle">Clínica de Salud - Proyecto INACAP</div>

    <form (ngSubmit)="guardarTemporalmente()" #registroForm="ngForm">
        
        <div class="form-group">
            <label for="nombre">Nombre completo</label>
            <input type="text" 
                [(ngModel)]="nombre" 
                name="nombre" 
                id="nombre"
                placeholder="juan perez" 
                required 
                minlength="3"
                #nombreVar="ngModel"
                [ngClass]="{'input-error': nombreVar.invalid && (nombreVar.dirty || nombreVar.touched), 'input-success': nombreVar.valid && nombreVar.dirty}">
            
            <div *ngIf="nombreVar.invalid && (nombreVar.dirty || nombreVar.touched)" class="error-message">
                <span *ngIf="nombreVar.errors?.['required']">⚠️ El nombre es obligatorio.</span>
                <span *ngIf="nombreVar.errors?.['minlength']">⚠️ El nombre debe tener al menos 3 letras.</span>
            </div>
        </div>

        <div class="form-group">  
            <label for="correo">Correo electrónico</label>
            <input type="text" 
                [(ngModel)]="correo" 
                name="correo" 
                id="correo" 
                required
                email 
                pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                #emailVar="ngModel" 
                placeholder="ejemplo@gmail.com"
                [ngClass]="{'input-error': emailVar.invalid && (emailVar.dirty || emailVar.touched), 'input-success': emailVar.valid && emailVar.dirty}">

            <div *ngIf="emailVar.invalid && (emailVar.dirty || emailVar.touched)" class="error-message">
                <span *ngIf="emailVar.errors?.['required']">⚠️ El correo es obligatorio.</span>
                <span *ngIf="emailVar.errors?.['pattern']">⚠️ Formato inválido (falta @ o el .com).</span>
            </div>
        </div>
            
        <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" 
                [(ngModel)]="password" 
                name="password" 
                id="password" 
                placeholder="********"
                required
                minlength="6"
                #passVar="ngModel"
                [ngClass]="{'input-error': passVar.invalid && (passVar.dirty || passVar.touched), 'input-success': passVar.valid && passVar.dirty}">

            <div *ngIf="passVar.invalid && (passVar.dirty || passVar.touched)" class="error-message">
                <span *ngIf="passVar.errors?.['required']">⚠️ La contraseña es obligatoria.</span>
                <span *ngIf="passVar.errors?.['minlength']">⚠️ Debe tener al menos 6 caracteres.</span>
            </div>
        </div>

        <button type="submit" class="btn-login" [disabled]="registroForm.invalid">
            Regístrate
        </button>
    </form>

    <div class="footer-links">
        <p><a href="#">¿Olvidaste tu contraseña?</a></p>
        <p>¿Tienes cuenta? <a [routerLink]="['/login']">Inicia sesión</a></p>
    </div>
</div>