.navbar-container {
    display: flex;
    justify-content: space-between; /* Esto empuja el logo a la izquierda y botones a la derecha */
    align-items: center;         /* Centra verticalmente los elementos */
    padding: 10px 40px;          /* Espaciado interno para que no toquen los bordes de la pantalla */
    background-color: #ffffff;   /* Opcional: color de fondo del navbar */
    margin-bottom: 0;
}

.logo-group {
    display: flex;
    align-items: center;
    gap: 10px;                   /* Espacio entre el isotipo y el texto del logo */
}

/* Mantén tu estilo de nav-buttons pero asegúrate de que sea flex */
.nav-buttons {
    display: flex;
    gap: 15px;                   /* Espacio uniforme entre cada botón */
}
.btn1 {
  background: linear-gradient(to right, #005691, #00a88e); /*agrega degradado de colores en el boton*/
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  box-shadow: 0 4px 6px rgba(0, 86, 145, 0.2);
  color: rgb(255, 255, 255);
  cursor: pointer;


}
.btn3 {
  background: #d4dfdc;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  box-shadow: 0 4px 6px rgba(0, 86, 145, 0.2);
  color: black;
  cursor: pointer;

}

.logo_clinacap {
    display: block; /* O flex si el contenedor lo requiere */
    height: 80px;   /* Dale un tamaño específico para probar */
    width: auto;
}

