.navbar-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;         
    padding: 10px 40px;        
    background-color: #ffffff;   
    margin-bottom: 0;
}

.logo-group {
    display: flex;
    align-items: center;
    gap: 10px;                  
}


.nav-buttons {
    display: flex;
    gap: 15px;                   
}
.btn1 {
    background: linear-gradient(to right, #005691, #00a88e); /*agrega degradado de colores en el boton*/
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    box-shadow: 0 4px 6px rgba(0, 86, 145, 0.2);
    color: rgb(255, 255, 255);
    cursor: pointer;    
}
.btn1:hover {
    transform: scale(1.1);
}
.btn3 {
    background: #d4dfdc;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    box-shadow: 0 4px 6px rgba(0, 86, 145, 0.2);
    color: black;
    cursor: pointer;
}
.btn3:hover {
    transform: scale(1.1);
}

.logo_clinacap {
    display: block; 
    height: 80px;  
    width: auto;
}

